{% extends "base-generic.html" %}

{% block content %}
    <br>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/customer_detail_styles.css' %}">
    <h1>Customer</h1>
    <div style="margin: 10px;">
        <button class="cust-button" onclick="location.href='{% url "customer-update" customer.id %}';">Update Employee</button>
        <button class="cust-button" onclick="location.href='{% url "customer-delete" customer.id %}';">Delete Employee</button>
    </div>
    <div class="bord">
        <br>
        <h6>Name : <span> {{ customer.name }} </span> </h6>
        <h6>Address : <span> {{ customer.address }} </span> </h6>
        <h6>Phone No : <span> {{ customer.phone_no }} </span> </h6>
        <h6>Email : <span> {{ customer.email }} </span> </h6>
        <br>
    </div>
{% endblock %}